%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://hackday.turetzky.org/css/style.css'}
  #header
    %img{:class => "ad", :src => "images/masthead.gif", :alt => "Insure Barn"}
    %img{:class => "ad", :src => "images/ad_w-facebook.gif", :alt => "Now with Facebook!"}
    %img{:class => "ad", :src => "images/ad_blank.gif", :alt => "This space intentionally left blank."}
    .clear
    #contentMast
      %p
        - if logged_in?
          - if fb[:user]
            You are!
            %fb:profile-pic{:uid => fb[:user]}
            %fb:name{:uid => fb[:user], :useyou => 'false'}
          - else
            Welcome #{@user.name}
        - else
          Please Log In
        - if !current_user.fb_uid  && logged_in?
          = render_facebook_connect_link('Link account with FaceBook')
  .clear
  #HDbody
    #contentBody
      = yield
    :javascript
      FB.init("#{fb.api_key}","/receiver")
    .clear
  #footer
    %a{:href => "/logout"}logout
    - if logged_in?
      %a{:href => "/users/#{current_user.id}/edit"}My Account
    &copy; box of bank inc. llc.
