%a{:href => @oauth_url}oauth
  - resp_hash = MiniFB.get('123673737674492|2.Adj8lJRQtl30naxLpsa6vg__.3600.1277701200-22909064|vhoFOFy_FKAoXBhp4UEpflVeKf0.', fb[:user],:type => '')
  #{pp resp_hash} #{fb[:user]}
%p
  #infoBoxes
    #policies
      .boxhead_l Policies
      .boxhead_r Type
      = partial("policies", :collection => @user.policies)
      //.boxfoot add
    #accounts
      .boxhead_l Accounts
      .boxhead_r Balance
      = partial("accounts", :collection => @user.accounts)
      //.boxfoot add
    #claims
      .boxhead_l Claims
      .boxhead_r Status
      = partial("claims", :collection => @user.claims)
      //.boxfoot add
    #messages
      .boxhead_l Messages
      .boxhead_r From
      = partial("messages", :collection => @user.messages)
      //.boxfoot add
  .clear
  %img{:class => "ad", :src => "http://hackday.turetzky.org/images/ad_text.gif", :alt => "Text: Yes. Drive: Yes. Both: No."}
  %img{:class => "ad", :src => "http://hackday.turetzky.org/images/ad_homegrown.jpg", :alt => "Homegrown service."}
  %img{:class => "ad", :src => "http://hackday.turetzky.org/images/ad_facebook.gif", :alt => "Friend us on Facebook."}
