!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
  %head
    %title Insure Barn
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
    %script{:type => 'text/javascript', :src => 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US'}
  %body
  #header
    %img{:class => "ad", :src => "/images/masthead.gif", :alt => "Insure Barn"}
    %img{:class => "ad", :src => "/images/ad_w-facebook.gif", :alt => "Now with Facebook!"}
    %img{:class => "ad", :src => "/images/ad_boring.gif", :alt => "We're boring so you can be exciting!"}
    .clear
    #contentMast
      %p
        - if logged_in? && fb[:user]
          Welcome
          %fb:name{:uid => fb[:user], :useyou => 'false'}
        - elsif logged_in?
          Welcome #{@user.name}
        - else
          Please Log In
        - if  logged_in?
          - if current_user
            - if !current_user.fb_uid
              = render_facebook_connect_link('Link account with FaceBook')
  .clear
  #HDbody
    #contentBody
      = yield
    :javascript
      FB.init("#{fb.api_key}","/receiver")
    .clear
  #footer
    %a{:href => "/logout"}logout
    - if logged_in?
      %a{:href => "/users/#{current_user.id}/edit"}My Account
    &copy; box of bank inc. llc.
